#main-container {
    /* border: 2px solid black; */
    margin: 8vw 20vw 10vw 20vw;
}

#main-line {
    margin-left: -5%;
    margin-right: -5%;
}

#page-name {
    /* padding-left: 1%; */
    text-align: center;
    font-size:calc(100% + 4vw);
    margin-bottom: 0.3em;
}

#socials {
    /* margin-left: 0%; */
    /* margin-right: 0%; */
    font-size:calc(100% + .1vw);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* #socials > a { */
/*     margin: auto; */
/* } */

a {
    color: rgb(58,169,191);
    font-weight: bold;
    font-style: italic;
}

#sub-name {
    padding-left: 15%;
    padding-right: 15%;
    font-size:calc(100% + 2vw);
    display: flex;
    justify-content: space-between;
}

.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 20px;
}
.rt {
    text-align: right;
    font-weight: 600;
}

/* .item { */
/*     display:flex; */
/*     justify-content: space-between; */
/* } */

.item {
    padding: 10px;
    border: 2px solid rgb(114,188,212);
    border-radius: 20px;
    background-color: rgba(114,188,212,0.2);
}


